const config = require("./config");

config.base_url = "http://sai.unich.it/";

config.mail_from = "";

config.default_dumbpass = true;

config.mail_transport = {
    host: "",
    port: 587,
    secure: false // upgrade later with STARTTLS
};

module.exports = config;
