; default config.ini
default_visits = 1600
default_randomcnt = 30
default_resignation_percent = 5
default_no_resignation_probability = 0.1
default_komi = 7.5
default_noise_value = 0.03
default_lambda = 0.5
default_other_options_selfplay = ""
default_other_options_match = ""
disable_default_selfplay = true
base_port = 8080
instance_number = 0
; if false, matches are only scheduled to fast clients
schedule_matches_to_all = false
no_early_fail = false
branching_coefficient = 0.1
branching_maxbranches = 3
